:root {
    --trans: all 400ms;
    --color-header: rgba(33, 37, 41, 1);
    --color-glass: rgba(0, 0, 0, 0.3);
    --color-shadow: 0.5px 0.5px 2px 1px rgba(255, 255, 255, 0.2);
    --color-ico: invert(0%);
    --background-url: url(backgrounds/Default.jpg);
    --font-family-h1: 'Fredoka One', cursive;
}
:root[theme="light"] {
    --color-header: rgba(255, 255, 255, 0.8);
    --color-glass: rgba(255, 255, 255, 0.3);
    --color-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.2);
    --color-ico: invert(20%);
}
:root[event="NewYear"] {
    --background-url: url(backgrounds/NewYear.jpg);
    --font-family-h1: 'Rubik Wet Paint', cursive;
}
:root[event="Helloween"] {
    --background-url: url(backgrounds/Helloween.jpg);
    --font-family-h1: 'Creepster', cursive;
}
::-webkit-scrollbar {
    width: 8px;
    background: #171717;
} 
::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #52575D;
}
::-webkit-scrollbar-thumb:hover {
    border-radius: 50px;
    background: #41444B;
}
::selection{
    color: #1A132F;
    background-color: #F7E2E2;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: var(--background-url);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
h1 {
    font-family: var(--font-family-h1);
}
li {
    list-style-type: none; 
}
.header {
    background-color: var(--color-header);
}
.glass {
    border-radius: 50px;
    transition: var(--trans);
}
.glass:hover {
    transform: translate(0, -0.5ex);
    background-color: var(--color-glass);
    backdrop-filter: blur(10px);
    box-shadow: var(--color-shadow);
}
.icoBack {
    width: min-content;
    border-radius: 25px;
    transition: var(--trans);
}
.icoBack:hover {
    background-color: var(--color-glass);
    border-radius: 20px;
}
.gradient {
    position: relative;
}
.gradient:hover {
    animation: icoGradient 8s linear infinite;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    line-height: 60px;
    box-sizing: border-box;
    background-size: 400%;
}
.gradient:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 20px;
    opacity: 0;
    transition: var(--trans);
}
.gradient:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: icoGradient 8s linear infinite;
}
.ico {
    transition: var(--trans);
    filter: var(--color-ico);
}
.ico:hover {
    transform: scale(1.05);
}
.ava {
    border-radius: 50%;
    width: 4ex; 
    height: 4ex;
    transition: var(--trans);
}
.ava:hover {
    width: 5ex; 
    height: 5ex;
}
@media screen and (max-width: 780px) {
    .glass {
        border-radius: 30px;
        background-color: var(--color-glass);
        backdrop-filter: blur(10px);
        box-shadow: var(--color-shadow);
    }
    .glass:hover {
        transform: translate(0);
    }
}
@keyframes icoGradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}
