:root {
    --trans: all 400ms;
    --color-header: rgba(29,29,31,0.72);
    --color-glass: rgba(0, 0, 0, 0.3);
    --background-url: url(backgrounds/Default.jpg);
    --font-family-h1: 'Fredoka One', cursive;
}
:root[theme="light"] {
    --color-header: rgba(255, 255, 255, 0.8);
    --color-glass: rgba(255, 255, 255, 0.3);
}
:root[event="NewYear"] {
    --background-url: url(backgrounds/NewYear.jpg);
    --font-family-h1: 'Rubik Wet Paint', cursive;
}
:root[event="Helloween"] {
    --background-url: url(backgrounds/Helloween.jpg);
    --font-family-h1: 'Creepster', cursive;
}
::-webkit-scrollbar {
    width: 8px;
    background: #171717;
} 
::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #52575D;
}
::-webkit-scrollbar-thumb:hover {
    border-radius: 50px;
    background: #41444B;
}
::selection{
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(29,29,31,0.5);
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: var(--background-url);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
h1 {
    font-family: var(--font-family-h1);
}
li {
    list-style-type: none; 
}
.aDonate {
    color: white;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    text-decoration: none;
    background-image: linear-gradient(to right, white, white);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: all 0.4s ease;
}
.aDonate:hover {
    color: white;
    background-size: 100% 2px;
}
.aStyle {
    color: white;
    text-decoration: none;
}
.aStyle:hover {
    color: white;
}
.header {
    background-color: var(--color-header);
    backdrop-filter: saturate(180%) blur(20px);
}
.glass {
    border-radius: 50px;
    transition: var(--trans);
    background-color: var(--color-glass);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0.5ex 5ex rgba(0, 0, 0, 1);
    animation: hello 0.4s ease-in-out;
}
.glass:hover {
    transform: translate(0, -0.5ex);
}
.blog {
    font-family: 'Fredoka One', cursive;
    font-size: 4ex;
    transition: var(--trans);
}
.blog:hover {
    transform: scale(0.925);
}
.tgIcoBack {
    height: 5ex;
    width: 10ex;
    border-radius: 25px;
    transition: var(--trans);
}
.tgIcoBack:hover {
    background-color: var(--color-glass);
    border-radius: 20px;
}
.icoBack {
    height: 10ex;
    width: 10ex;
    border-radius: 25px;
    transition: var(--trans);
}
.icoBack:hover {
    background-color: var(--color-glass);
    border-radius: 20px;
}
.gradient {
    position: relative;
}
.gradient:hover {
    animation: icoGradient 8s linear infinite;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    line-height: 60px;
    box-sizing: border-box;
    background-size: 1000%;
}
.gradient:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 20px;
    opacity: 0;
    transition: var(--trans);
}
.gradient:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: icoGradient 8s linear infinite;
}
.ico {
    transition: var(--trans);
}
.ico:hover {
    transform: scale(0.925);
}
.ava {
    border-radius: 50%;
    width: 4ex; 
    height: 4ex;
    transition: var(--trans);
}
.ava:hover {
    width: 5ex; 
    height: 5ex;
}
#contentHead {
    display: flex;
}
#bio {
    width: 75%;
    margin-right: 0.5ex;
    margin-left: 0.5ex;
}
#soc {
    width: 25%;
    margin-right: 0.5ex;
    margin-left: 0.5ex;
}
@media screen and (max-width: 780px) {
    :root {
        --background-url: url(backgrounds/sDefault.jpg);
    }
    .glass {
        border-radius: 30px;
        background-color: var(--color-glass);
        backdrop-filter: blur(10px);
        box-shadow: 0px 0.5ex 5ex rgba(0, 0, 0, 1);
    }
    .glass:hover {
        transform: translate(0);
    }
    .aDonate {
        color: transparent;
        background-repeat: inherit;
        background-size: 100% 2px;  
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(to right, red, fuchsia);
    }
    #contentHead {
        display: inline;
        margin-left: 1ex;
        margin-right: 1ex;
    } 
    #bio {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    #soc {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}
@keyframes icoGradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}
@keyframes hello {
    0% {
        opacity: 0;
        transform: translate(0, -20%);

    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
